div.jumbotron.product-month {
  background: linear-gradient(to right, rgba(0,0,0,0), rgb(0,0,0)), url(../../assets/img/gestion-foret-saviez-vous.jpg);
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

#homepage {
  text-align: left;
}

#info {
  text-align: justify;
}

.body-section {
  text-align: left;
}

#good {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  max-width: 500px;
}

#good-1 {
  font-size: 10px;
}

.row {
  margin-top: 15px;
}

.etymology-section {
  background-color: var(--bs-warning-border-subtle);
  padding-bottom: 20px;
  margin-top: 60px;
}

.icon.ion-waterdrop.earth {
  color: var(--bs-blue);
}

.icon.ion-heart.earth {
  color: red;
}

.icon.ion-earth.earth {
  color: skyblue;
}

.earth-text {
}

.nav-link-active {
  background-color: skyblue;
}

.nav-link-active {
  background-color: skyblue;
}

.nav-link-active {
  background-color: skyblue;
}

