.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.h5, h5 {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 5px;
}

